#sliceListPage{
  width: 100%;
  .ant-menu{
    background-color: inherit;
    color: white;
  }
  .ant-menu-horizontal{
    border: none;
  }
  .ant-menu-item, .ant-menu-submenu-title{
    padding: 7px 20px;
  }
  .ant-menu-item-selected{
    color: white;
  }
  .table-container{
    width: 80%;
    margin: 50px auto;
  }
  .pagination-container{
    margin: 30px auto 50px;
    width: 566px;
  }
}
